@mixin disply-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin text-styling ($param1){
    color: rgb(224, 9, 9);
    font-size: 3rem + $fs-2; /*operator +*-/ */
    text-transform: $param1;
    letter-spacing: 0.5rem;
}