@import "variables";
@import "mixins";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    @include disply-center;
    width:100vw;
    height: 100vw;
    background-color: $bg-color; /* variable decleration */

    h2{ /* Nesting */
        @include text-styling (uppercase);

        &:hover{ /* Nesting */
            color: rgb(30, 9, 224);            
        }

        &::before{
            content: "You are ";
        }
    }
    
    

    p{ /* Nesting */
        @include text-styling (capitalize);
    }
}

